body {
    margin: 0;
    padding: 0;
    font-family: 'Alike', sans-serif;
    line-height: 1.5em;
    font-size: 12pt;
}

h1, h2 {
    line-height: 1.25em;
}

header {
    margin: 0;
    margin-bottom: 8pt;
    padding-bottom: 26pt;
    border: 1px solid black;
    color: #fff;
    background: #000;
    font-size: 19pt;
    text-align: center;
    box-shadow: 0 2px 12px #888;
    position: relative;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

header h1 a {
    display: block;
}

#links {
    font-size: 16pt;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#links a {
    margin: 0 30px;
}

section {
    padding-top: 16pt;
}

section h1 {
    font-size: 19pt;
}

section.concrete {
    background: #ccc;
    margin-top: 24pt;
    padding-top: 24pt;
    padding-bottom: 32pt;
    border-top: 8pt solid #aaa;
}
section.concrete h1 {
    font-size: 28pt;
    margin-bottom: 32pt;
    text-align: center;
}
section.concrete h2 {
    font-size: 19pt;
    margin-top: 12pt;
    font-weight: bold;
    margin-bottom: 0;
}
section.concrete h3 {
    color: #333;
    font-weight: normal;
    font-size: 14pt;
}

section#factor h2 {
    font-size: 28pt;
    margin-bottom: 12pt;
}
section#factor h3 {
    font-size: 17pt;
    font-weight: normal;
    color: #555;
    margin-bottom: 16pt;
}

nav {
    margin-top: 16pt;
    margin-bottom: 48pt;
}
nav #next {
    float: right;
}
nav #prev {
    float: left;
}
nav #next a, nav #prev a {
    font-size: 19pt;
    text-decoration: none;
    color: #000;
}

code {
    border: 1px solid #999;
    background: #eee;
    padding: 1pt 3pt;
}

footer {
    color: #999;
    font-size: 10pt;
    background: #000;
    padding-top: 24pt;
    padding-bottom: 16pt;
    text-align: center;
    padding-right: 64pt;
    min-height: 56pt;
}

footer a {
    color: #999;
}

#quiz ul {
    list-style: none;
}

#quiz_progress_bar {
    border: 2px solid #ddd;
    text-align: center;
    position: relative;
    background-color: #000;
}

#quiz_progress_bar {
    width: 100%;
    color: white;
    font-size: 14pt;
}

#quiz_progress_bar #background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#quiz_progress_bar #tally {
    position: relative;
    font-weight: bold;
}

#quiz button {
    margin: 20px auto;
    display: block;
}

.fa-ul {
    margin-left: 3em;
}

.fa-ul span {
    font-size: 16pt;
    line-height: 32pt;
}